.footer {
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  padding: 20px 0;
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 14px;
  /* text-align: center; */
  /* border-top: 1px solid black; */
  margin-top: 5vh;
  /* Menggunakan unit viewport height untuk margin-top */
  padding: 10vh;
  padding-left: 20vh;
}

.div_logo {
  /* background-color: red; */
  /* background-color: rgb(255, 0, 255); */


}

.logo {
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 25vh;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.logo_bahasa {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 0;
}

.bahasa {
  position: relative;
  top: 140px;
  height: 100px;
}

.footer-content {
  /* background-color: red; */
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: normal; */
  justify-content: left;
}

.sosmed a .img {
  width: 35px;
  height: 35px;
  margin: 5px;
  /* display: inline; */
  background-color: red;
  -webkit-mask: src="images/instagram.png";
}

.sosmed a img {
  margin: 5px;
}

.footer p {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
  font-size: 24px;
  font-weight: bold;
}

.footer-links {

  list-style: none;
  padding: 0;
  margin-top: 10px;

}

.footer-links li {
  /* display: inline-block; */
  /* font-size: 14px; */
  display: flex;
  justify-content: left;
  /* margin: 0 5px; */
  /* background-color: purple; */

}

.footer-links li a {

  font-weight: 250;
  color: #ffffff;
  text-decoration: none;
  margin: 0;

}

.footer-links li a:hover {
  color: #1b1b1b;
  font-weight: 300;
}