nav{
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    height: 10vh;
    width: 100%;
    top: 0;
    position: fixed !important;
    box-shadow: 0px 8px 20px #888888;
    z-index: 1;
    }

li a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.nav-link{
    font-weight: normal;
  }

  .nav-link:hover{
    color: white;
    font-weight: bold;
  }

  .nav-link.active {
    color: white;
  }
