.box-proses{
    background-color: aliceblue;
    margin: 5vh;
    padding: 5vh;
    border-radius: 30px;
    width: 80vh;
}
.waktu{
    font-weight: bolder;
    font-size: 2rem;
    color: #ff4a2b;
}

.small-text{
    margin: 0;
    font-size: 0.8rem;
}

.medium-text{
    margin: 0;
    font-size: 1rem;
}
.big-text{
    font-size: 1.2rem;
}
.box-pembayaran{
    background-color: white;
    padding: 5vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-radius: 30px;
    color: #ff4a2b;
}

.status-pemesanan1{
    background-color: #FF416C;
    color: white;
    padding: 2vh;
    border-radius: 30px;
    margin-bottom: 3vh;
}

.status-pemesanan2{
    background-color: #FFBE41;
    color: white;
    padding: 2vh;
    border-radius: 30px;
    margin-bottom: 3vh;
}

.status-pemesanan3{
    background-color: #41BBFF;
    color: white;
    padding: 2vh;
    border-radius: 30px;
    margin-bottom: 3vh;
}

.box-pemesanan{
    background-color: white;
    padding: 5vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-radius: 30px;
    /* color: #ff4a2b; */
}

.image {
    width: 150px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 30px;
}

.image-nota {
    width: 20vw;
    height: 27vh;
    background-color: aliceblue;
    border-radius: 30px;
}
.harga {
    font-size: 20px;
    font-weight: bolder;
    color: #ff4a2b;
}

.box-detail-pengiriman{
    background-color: white;
    padding: 5vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-radius: 30px;
}

.box-detail-pembayaran{
    background-color: white;
    padding: 5vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-radius: 30px;    
}

.container-pengiriman{
    width: 40%;
}