    *{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    }

    .crop-img {
      object-fit: cover;
    }

    .partnership img {
      width: 250px;
      border: 10px solid #cccccc;
    }

    /* .login-btn{
      color: #7a7a7aae;
      text-decoration: none;
      font-size: 0.8em;
    }

    .profile{
      color: black !important;
      font-size: 1.1em;
      font-weight: bold;
      margin: 10px;
      background-color: white;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    } */

  /* .containerprofil{
    margin: 5%;
    background-color: transparent;
  } */
